.add-project-main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.add-project-main h2 {
    text-align: center;
    padding-bottom: 24px;
}

.add-project-content {
    background: white;
    padding: 24px 40px;
    border-radius: 0.8em;
    box-shadow: 0 0 15px -8px rgba(0,0,0,0.8);
}

.add-project-submit-wrapper {
    padding-top: 16px
}

.add-project-submit-wrapper .btn {
    font-size: 1.1em;
}

.error-message,
.success-message {
    margin-top: 24px;
    padding: 8px 12px;
    text-align: center;
}

.success-message {
    background: rgb(195, 255, 187);
    color: rgb(71, 202, 54)
}

.error-message {
    background: rgb(255, 201, 201);
    color: rgb(252, 62, 62);
}

.message-title {
    font-weight: bold;
    font-size: 1.1em;
}

.message-tx {
    word-break: break-all;
    padding-top: 8px; 
}

.mensage-etherscan-link {
    color: inherit;
    margin-top: 16px; 
    font-weight: bold;
}

.mensage-etherscan-link:hover {
    text-decoration: underline;
}

.error-message .opent-at-etherscan-arrow svg * {
    fill: rgb(252, 62, 62);
}

.success-message .opent-at-etherscan-arrow svg * {
    fill: rgb(71, 202, 54);
}

