.home-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-main h2 {
    text-align: center;
    font-size: 2.2em;
    padding-bottom: 32px;
    color: var(--primary-blue);
}

.empty-manager-message {
    padding: 6px 16px;
    border-radius: 0.8em;
    background: var(--primary-blue);
    color: white;
    font-size: 1.2em;
}

.add-project-plus-link {
    display: flex;
    margin-top: 32px;
    width: 60px;
    padding: 4px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 15px -8px rgba(0,0,0,0.6);
}

.add-project-plus-link.logged-add {
    margin-top: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

.add-project-plus * {
    fill: var(--primary-blue)
}
.projects-list > *{
    width: 33%;
}
@media (max-width: 1439px) {
    .projects-list > *{
        width: 50%;
    }
}
@media (max-width: 959px) {
    .projects-list > *{
        width: 100%;
    }
}
@media (max-width: 468px) {
    .add-project-plus-link.logged-add {
        margin: 0 auto 24px;
        position: unset;
    }
}